.cards-layout{
  height: auto;
  width: 10%;
  background-color: bisque;
  border: 1px solid black;
  margin-left: 3%;
  padding: 5px;
  margin-bottom: 5vh;
}

.cards-shimmer-layout{
  height: 200px;
  width: 10%;
  background-color: bisque;
  margin-left: 3%;
  padding: 5px;
  margin-bottom: 5vh;
}
.cards{
  display: flex;
  flex-wrap: wrap;
}

.cart-func{
  display: flex;
  flex-wrap: wrap;
}

.btn-primary{
  background-color: blanchedalmond;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

.accordion{
  width: 70%;
  height: auto;
  border: 1 px dotted slategray;
}

.accordion-header{
  padding: 1px 1px;
  margin: 10px 10px;
  cursor: pointer;
}

.accordion-body{
  padding: 1px 5px;
  margin: 10px 5px;
}