.cards-layout{
  height: auto;
  width: 10%;
  background-color: bisque;
  border: 1px solid black;
  margin-left: 3%;
  padding: 5px;
  margin-bottom: 5vh;
}

.cards{
  display: flex;
  flex-wrap: wrap;
}

.cart-func{
  display: flex;
  flex-wrap: wrap;
}

.btn-primary{
  background-color: blanchedalmond;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}